@charset "UTF8";

* {
    margin: 0%;
    padding: 0%;
    font-family: 'Times New Roman', Times, serif;
}

html, body{
    scroll-behavior: smooth; /*rolagem suave*/    
}
:target {
    scroll-margin-top: 5em;
}
body{
    background-color: rgb(36, 36, 36);
    color: aliceblue;

    box-sizing: content-box;
    width: 99%;    /*alinhar a borda de fora*/
}

header{
    position: sticky; /*grudavel*/
    top: -1px;
    z-index: 1; /*Assim, ele ficará na frente de tds*/

    display: flex; /*coloquei na lateral os icones*/
    justify-content: space-between; /*espaçamento igual*/
    box-sizing: border-box;
    width: 101%;    /*alinhar a borda de fora*/

    margin-bottom: 20px;
    background-color: rgb(139, 79, 79);
    box-shadow: 0px 0px 10px black;
    height: 50%;
}
header img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 20px;
}
header .menu{
    margin: 20px 15px 10px 10px;
}
header #menuResponsivo{ /*ainda vou fzr*/
    display: none;
}
.effect {

}
header a{
    text-decoration: none;
    color: white; 
    padding: 10px;
    font-size: 1.2em;
}
header a:hover{
    color: #0085FF;
    border-top: 3px solid #0085FF; padding-top: 10px;
    
}

main{
    margin: auto; padding: 10px;
    min-width: 300px;
    max-width: 1000px;
}

#serviços{
    text-align: center;
}
#serviços h1{ /*titulo do serviços*/
    font-size: 2em;
    color: red;
    padding-bottom: 25px;
}
#blocoServ{
    display: block;
    columns: 2;
    width: 500px;
}
#serviços div{
    padding: 10px;
    border: 2px solid white;
}
#serviços img{ /*imagens dos serviços*/
    width: 100px;
    height: 100px;
}


footer{
    background-color: white; color: black;
    padding: 30px;

    box-sizing: border-box;
    width: 101%;    /*alinhar a borda de fora*/
    height: 400px;
}
footer h1{
    text-align: center;
    font-size: 1.5em;
    padding: 40px;
}
#blocoFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#blocoFooter h3{
    padding-bottom: 20px;
}
#blocoFooter p{
    line-height: 0em; /*altura entre linhas*/
}
#blocoFooter a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    line-height: 1em; /*altura entre linhas*/
}