@charset "UTF8";

* {
    margin: 0%;
    padding: 0%;
    font-family: 'Times New Roman', Times, serif;
}

html, body{
    scroll-behavior: smooth; /*rolagem suave*/    
}
:target {
    scroll-margin-top: 5em;
}
body{
    background-color: white;
    color: black;

    box-sizing: content-box;
    width: 99%;    /*alinhar a borda de fora*/
    font-size: 1.1em;
}

.header1{ /*arrumar para ele diminuir qnd rolar p baixo*/
    position: sticky; /*grudavel*/
    top: -1px;
    z-index: 1; /*Assim, ele ficará na frente de tds*/

    display: flex; /*coloquei na lateral os icones*/
    justify-content: space-between; /*espaçamento igual*/
    box-sizing: border-box;
    width: 101%;    /*alinhar a borda de fora*/
    height: 200px;

    background-color: black;
    background-image: url(/imgs/oficina.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    /*Auto: imagem automatica
    Contain: a imagem 100% exibida, mas distorce
    Cover: ele adapta a imagem em todo, de acordo
    com o tamanho do navegador,
    box-shadow: 0px 0px 10px black;*/
}

header img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
header .menu{
    margin: 20px 15px 10px 10px;
}
header #menuResponsivo{ /*ainda vou fzr*/
    display: none;
}
.effect {

}
header a{
    text-decoration: none;
    color: white; 
    padding: 10px;
    font-size: 1.2em;
}
header a:hover{
    color: #0085FF;
    border-top: 3px solid #0085FF; padding-top: 10px;
    
}

main{
    padding: 10px;
}

/*Pagina de Curiosidades*/

main #blog{
    padding: 10px;
    display: block;
    justify-content: center;                       /*centralizar*/
}
main #h1Curiosidades{
    text-align: center;
}
main #curiosidades{ /*todos os blocos*/
    columns: 2;
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 700px;
}
main #blocosCuriosidades{ /*cada article*/
    padding: 20px; margin: 10px;
    width: 300px;
    font-size: medium;
    border: 2px solid blue; border-radius: 10px;
}
main #color{ /*destaque*/
    background-color: blue;
    color: white;
    border-radius: 10px;
    margin: 10px 0px; padding: 15px;
}
main #curiosidades img{
    width: 310px;
    height: 200px;
    text-align: center;
    border-radius: 10px;
}


#texto1{
    text-align: center;
    height: 500px;
    padding: 20px;
    background-color: #EDEDED;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
#texto1 div{
    padding-top: 10px;
}
#texto1 h1{
    margin-bottom: 20px;
}
#texto1 p{
    width: 600px;
}
#texto1 img{
    width: 800ps;
    height: 300px;
}
#imgMotor{
    width: 400px;
    height: 400px;
}

#marcas{
    text-align: center;
    margin: 30px; padding: 20px;
}
#marcas h1{
    margin-bottom: 20px;
    font: 2em;
    font-weight: 100;
}


#retifica{
    text-align: center;
    background-color: #EDEDED;
}
#retifica h1{
    padding: 20px;
    font: 2em;
    font-weight: 100;
}
#retifica p{
    padding-bottom: 50px;
}
#retifica div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
}
#retifica img{
    width: 400px;
    height: 400px;
    margin: 0px 50px;
}
#retifica ul{
    text-align: left;
    list-style-type: '\2714\00a0\00a0';
    font-size: 1.2em;
}


#serviços{
    text-align: center;
    margin: 20px;
}
#serviços h1{ /*titulo do serviços*/
    font-size: 2em;
    color: red;
    padding-bottom: 25px;
}
.blocoServ{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.blocoServ div{
    width: 300px;
    padding: 5px;
    box-shadow: 1px 2px 2px 2px black;
}
.blocoServ img{ /*imagens dos serviços*/
    width: 200px;
    height: 200px;
    border-radius: 10%;
}
.blocoServ h2{
    font-size: 1.2em;
}
.blocoServ p{
    font-size: 1em;
}



footer{
    background-color: #EDEDED; color: black;
    padding: 30px;

    box-sizing: border-box;
    width: 101%;    /*alinhar a borda de fora*/
    height: 450px;
}
footer h1{
    text-align: center;
    font-size: 1.5em;
    padding: 50px 40px;
}
#blocoFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#blocoFooter h3{
    padding-bottom: 10px;
}
#blocoFooter a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    line-height: 1em; /*altura entre linhas*/
}

footer .horario img{
    width: 35px;
    height: 20px;
}

footer .local img{
    width: 30px;
    height: 30px;
}

footer .sociais{
    text-align: center;
    padding: 10px 20px;
}
footer .sociais h2{
    padding: 10px;
    font: 1.3em var(--titulos);
    text-align: center;
}
footer .sociais img{
    width: 50px; height: 50px;
    padding: 2px;
}